<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style> @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');</style>
  <style>@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');</style><link rel="stylesheet" href="style.css">
  <title>Login e Cadastro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app">

  <transition name="fade">
  <div class="div-login" v-if="loginMode === 'login'">
    <div class="div-componentes">
      <div class="componentes2">
    <h2 class="h2-login">Login</h2>
    <input class="inputs" type="text" placeholder="   Nome de usuário" v-model="username"><br>
    <input class="inputs" type="password" placeholder="   Senha" v-model="password"><br>
    <button class="button"@click="login">Entrar</button><br>
    <p class="conta">Não tem uma conta? <a class= "conta" href="#" @click="switchMode('signup')">Cadastre-se</a></p>
    <div class="flex-button">
      <input class="checkbox"type="checkbox" name="checkbox1" value="value1">
      <p>Lembre de mim</p>
    </div>
    </div>
    </div>
  </div>

  <div class="div-login"v-else-if="loginMode === 'signup'">
    <div class="div-componentes1">
      <div class="componentes2">
      <h2 class="h2-cadastro">Cadastre-se</h2>
      <input class="inputs" type="text" placeholder="   Nome de usuário" v-model="username"><br>
      <input class="inputs" type="password" placeholder="   Senha" v-model="password"><br>
      <input class="inputs" type="password" placeholder="   Confirme a senha" v-model="password"><br>
      <button class="button" @click="signup">Cadastrar</button><br>
      <p class="conta">Já tem uma conta? <a class= "conta" href="#" @click="switchMode('login')">Login</a></p>
      <div class="flex-button">
        <input class="checkbox" type="checkbox" name="checkbox1" value="value1">
        <p>Lembre de mim</p>
    </div>
    </div>
    </div>
  </div>
</transition>

</div>

<script src="index.js"></script>

</body>
</html>